.container {
  display: flex;
  flex-direction: column;
}

.text {
  width: 600px;
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text h1 {
  font-size: 36px;
  color: var(--darkerBlue);
  margin-bottom: 10rem;
}

.text h4 {
  color: var(--darkBlue);
  font-style: italic;
  font-size: 1rem;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bodyQuestion {
  display: flex;
  gap: 25px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
}

.btnOpt {
  background-color: var(--white--);
  width: 100%;
  height: 80px;
  border: none;
  border-radius: 25px;
  color: var(--black--);
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 66px -32px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 66px -32px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 66px -32px rgba(0, 0, 0, 1);
}

.btnOpt:hover > .optionLetters {
  color: var(--purple--);
  background-color: #f6e7ff;
}

.optionLetters {
  margin-left: 1rem;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  border-radius: 8%;
  background-color: var(--grey--);
  color: var(--darkBlue);
}

/* .btnOpt:hover {
  border: 2px solid var(--purple--);
} */

.wrong {
  border: 2px solid var(--red--);
}

.correct {
  border: 2px solid var(--green--);
}

@media screen and (max-width: 1180px) {
  .container {
    flex-direction: row;
  }

  .question {
    display: flex;
    margin-top: 5rem;
  }

  .bodyQuestion {
    margin-top: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .text h1 {
    margin-bottom: 1rem;
  }

  .btnOpt {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .question {
    width: 350px;
    margin-top: 10rem;
  }

  .text {
    width: 350px;
  }

  .text h1 {
    font-size: 26px;
  }

  .option {
    width: 350px;
  }

  .btnOpt {
    font-size: 16px;
    width: 100%;
  }
}
