.text {
  width: 400px;
  margin-bottom: 10rem;
}

.detail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail h4 {
  font-size: 26px;
  color: var(--darkerBlue);
  /* font-size: 10px; */
}

.text h1 {
  color: var(--darkerBlue);
  font-size: 45px;
  font-weight: 200;
}

.text span {
  font-weight: 700;
}

.finished {
  display: flex;
  gap: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scoreBox {
  width: 450px;
  height: 400px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 10px 10px 142px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 142px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 142px -43px rgba(0, 0, 0, 0.75);
}

.scoreBox h3 {
  font-size: 144px;
  text-align: center;
  font-weight: 700;
  color: var(--darkerBlue);
}

.play {
  margin-top: 1rem;
  width: 450px;
  height: 50px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 265px -59px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 265px -59px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 265px -59px rgba(0, 0, 0, 0.75);
  border: none;
  background-color: var(--purple--);
  color: var(--white--);
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  .text {
    margin-bottom: 1rem;
  }

  .finished {
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .text h1 {
    font-size: 28px;
  }

  .finished {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .score {
    max-width: 350px;
  }

  .scoreBox {
    width: 100%;
  }

  .play {
    width: 100%;
  }
}
