.heading {
  width: 600px;
  height: 250px;
  margin-bottom: 10rem;
  margin-left: 1rem;
}

.heading h1 {
  color: #313e51;
  font-size: 64px;
  font-weight: 200;
}

.heading p {
  font-style: italic;
  color: #626c7f;
  padding-top: 1rem;
}

.heading span {
  font-weight: 700;
}

.start {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subjects {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 450px;
}

.btn {
  /* width: 450px; */
  width: 100%;
  height: 80px;
  display: flex;
  gap: 15px;
  padding-left: 10px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: -5px 13px 11px -9px rgba(98, 108, 127, 1);
  -moz-box-shadow: -5px 13px 11px -9px rgba(98, 108, 127, 1);
  box-shadow: -5px 13px 11px -9px rgba(98, 108, 127, 1);
  text-decoration: none;
}

.btn p {
  font-weight: 500;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

/* html */
.html {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff1e9;
  justify-content: center;
}

.html > img {
  width: 30px;
  height: 30px;
}

/* css */

.css {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0fdef;
  border-radius: 10px;
}

.css > img {
  width: 30px;
  height: 30px;
}

/* js */

.js {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ebf0ff;
}

.js > img {
  width: 30px;
  height: 30px;
}
/* accessibility */
.accessibility {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6e7ff;
  border-radius: 10px;
}

.accessibility > img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1180px) {
  .heading {
    margin-bottom: 0rem;
  }

  .start {
    flex-direction: column;
  }

  .subjects {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .heading {
    width: 300px;
  }

  .heading h1 {
    font-size: 30px;
    margin-top: 10rem;
  }

  .subjects {
    margin-bottom: 5rem;
  }

  /* .btn {
    width: 350px;
  } */
}
